#the .gitignore file for this repository
PES_Assignment4_1/.settings/
Assignment4_1extracredit/.settings/

#the folders to be untracked
PES_Assignment4_1/Debug
PES_Assignment4_1/Release
Assignment4_1extracredit/Debug
Assignment4_1extracredit/Release